.footer{

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    margin-top: 10px;
    background-color: $color_logo_lineas;
    color: $color_fuente_primaria;
    text-align: center;

    img{
        height: 2em;
    }
}