// Contenedor Principal
.header {
  // eliminamos margenes y añadimos fuente por defecto
  font-family: $font_montserrat;

  height: 13vh;

  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background-color: $color_logo_fondo;
  border-bottom: 2px solid $color_item_header_nav;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  // Ocultamos el menu hamburger por defecto
  .header__zonaNav--hamburger{
    display: none;
  }

  // Zona Título
  .header__zonaTitulo {
    grid-column: 2 / 6;

    display: flex;
    justify-content: space-evenly;

    justify-items: center; 
    align-items: center; 

    .header__zonaTitulo--logo {


      height: 12vh;

      a {
        display: flex;
        justify-items: center; 
        align-items: center;  

        width: auto;
        height: 100%;


        img {

          display: flex;
          justify-items: center; 
          align-items: center; 

          width: auto;
          height: 95%;
        }
      }
    }

    .header__zonaTitulo--titulo {
      grid-column: 2 / 5;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      text-align: center;
      a {
        text-decoration: none;
      }

      .tit_1 {
        font-size: 1.25em;
        font-weight: 450;
        color: $color_logo_lineas;
      }

      .tit_2 {
        font-family: $font_playball;
        color: $color_logo_lineas;
        font-weight: 575;
        font-size: 2.75rem;
      }
    }
  }

  // Zona Navegación
  .header__zonaNav {
    height: 12vh;
    grid-column: 6 / 12;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .header__zonaNav--item {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      // font-size: 0.85rem;
      padding: 1.5rem;
      width: 8.5rem;
      height: 80%;
      font-weight: 500;
      color: $color_item_header_nav;
      border-radius: 60%;
      /* Evita difuminado hacia el límite del item */
      transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in-out;
    }

    // Efecto para hover
    .header__zonaNav--item:hover {
      background-color: $color_logo_fuentes_light;

      border: 2.5px solid $color_logo_lineas;
      border-radius: 50%;

      font-weight: bold;

      // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    // Efecto de invertir sombra al hacer click
    .header__zonaNav--item:active {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset; // Agrega "inset" para que la sombra sea interna
    }
  }
}

// Plantillas para estilos responsivos

// Estilos para pantallas grandes (mayores de 1200px)
@media (min-width: 1200px) {
  .title_2 {
    font-size: 2.75rem;
  }

  .header__zonaNav--item {
    font-size: 0.85rem;
  }
}

// Estilos para pantallas medianas (entre 992px y 1199px)
@media (min-width: 992px) and (max-width: 1230px) {
  .header {

    height: auto;

    .header__zonaTitulo {
      grid-column: 2 / 12;

      display: flex;
      justify-content: center;

      .header__zonaTitulo--logo{
        margin-top: 1rem;
        margin-right: 1rem;


        .tit_2 {
          font-size: 2rem;
        }
      }

      .header__zonaTitulo--titulo{
        margin-top: 1rem;
        margin-left: 1rem;

      }


    }
    .header__zonaNav {
      grid-column: 2 / 12;

      .header__zonaNav--item {
        font-size: 0.90rem;
      }
    }
  }
}

// Estilos para pantallas pequeñas (menores de 992px)
@media (max-width: 991px) {
  .header {

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
  
    height: auto;

    .header__zonaNav--hamburger{

      position: relative; // Evita desplazamiento al hacer clic

      // Menu hamburger centrado
      display: flex;
      align-content: center;
  
      .hamburger-menu { // Boton del menú
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid $color_item_header_nav;
        border-radius: 45%;
        padding: 1em;
        margin-bottom: 1rem; 
      }
    
      .bar { // Lineas del boton
        width: 25px;
        height: 3px;
        background-color: $color_item_header_nav;
        margin: 3px 0;
      }
    
      .menu-items { // estilos menú desplegado

        display: none;
        flex-direction: column;
        // justify-content: center;
        background-color: $color_item_header_nav;
        padding: 20px;
        // border-radius: 35%;

        position: absolute; // Superpone el menu a la pantalla
        top: 95%; // Coloca el menú a la altura del header

        left: 50%; // Centra el menú horizontalmente 
        transform: translateX(-50%); // Corrige la posición para centrar exactamente 
      }
    
      .menu-items a{
        color: $color_logo_fondo;
        text-decoration: none;
        text-align: center;
        font-size: 1em;
        padding: 0.5rem;
      }
    
      .menu-items.active {
        display: flex;
      }
      
    }

    .header__zonaTitulo {
      grid-column: 2 / 12;

      display: flex;
      justify-content: center;

      .header__zonaTitulo--logo{
        margin-top: 0.5rem;
        margin-right: 0.5rem;
      }

      .header__zonaTitulo--titulo{
        margin-top: 0.5rem;
        margin-left: 0.5rem;

        .tit_2 {
          font-size: 2rem;
        }

      }


    }
    .header__zonaNav {

      height: 6vh;

      grid-column: 2 / 12;

      .header__zonaNav--item {
        display: none;
      }
    }
  }

}

