* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-family: $font_montserrat;
  font-size: 16px;
  line-height: 24px;
  background-color: $color_logo_fondo_ligth;
  color: $color_fuente_primaria;
}



