* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 2rem;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(250, 205, 211);
  color: #010101;
}



