<footer class="footer">
    <picture>
        <source srcset="./assets/images/logo/logo_exportado.svg" type="image/svg+xml">
        <source srcset="../src/assets/images/logo/logo_exportado.webp" type="image/webp">
        <img src="../src/assets/images/logo/logo_exportado.png" alt="logo_empresa">
    </picture>
    &copy; 2024 - David Gutiérrez Pérez - 2DAW
    <picture>
        <source srcset="./assets/images/logo/logo_exportado.svg" type="image/svg+xml">
        <source srcset="../src/assets/images/logo/logo_exportado.webp" type="image/webp">
        <img src="../src/assets/images/logo/logo_exportado.png" alt="logo_empresa">
    </picture>
</footer>
