<footer class="footer">
    <!-- dividimos el footer en tres zonas verticales -->
    <!-- Sección que muestra enlaces a las redes del negocio -->
    <section class="footer__zonaRedes">
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_facebook.svg"
                alt="icono facebook"
            />
        </a>
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_instagram.png"
                alt="icono instagram"
            />
        </a>
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_tiktok.svg"
                alt="icono tiktok"
            />
        </a>
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_maps.svg"
                alt="icono maps"
            />
        </a>
    </section>
    <section class="footer__zonaCentral">
        <div class="zonaCentral__nav">
            <div class="zonaCentral__nav--navegacion">
                <div class="z">
                    <div><a href="#">INICIO</a></div>
                    <div><a href="#">CATÁLOGO</a></div>
                </div>
                <div class="z">
                    <div><a href="#">SOBRE NOSOSTROS</a></div>
                    <div><a href="#">CONTACTO</a></div>
                </div>
            </div>
            <div class="zonaCentral__nav--alergenos">
                <a href="#">INFORMACIÓN ALERGENOS</a>
            </div>
        </div>

        <div class="zonaCentral__hours">
            <div class="zonaCentral__hours--logo">
                <div class="div-logo">
                    <img
                        src="../src/assets/images/logo/logo_exportado.svg"
                        alt=""
                    />
                </div>
                <h1>Dulces Caseros Ana de Consuelo</h1>
                <!-- <div class="div-logo">
                    <img
                        src="../src/assets/images/logo/logo_exportado.svg"
                        alt=""
                    />
                </div> -->
            </div>

            <div class="zonaCentral__hours--horarios">
                <div>
                    <h1>DE LUNES A VIRENES</h1>
                    <h3>Mañanas: 11:00 - 14:00</h3>
                    <h3>Tardes: 16:00 - 20:30</h3>
                </div>

                <div>
                    <h1>FIN DE SEMANA Y FESTIVOS</h1>
                    <h3>Mañanas: 09:00 - 14:00</h3>
                    <h3>Tardes: 15:00 - 21:00</h3>
                </div>
            </div>
        </div>

        <div class="zonaCentral__postal"></div>
    </section>
    <section class="footer__zonaInfo"></section>
</footer>

<!-- CÓDIGO DE LA IMAGEN EN SVG + 3 FORMATOS
    <picture>
        <source srcset="./assets/images/logo/logo_exportado.svg" type="image/svg+xml">
        <source srcset="../src/assets/images/logo/logo_exportado.webp" type="image/webp">
        <img src="../src/assets/images/logo/logo_exportado.png" alt="logo_empresa">
    </picture>
    &copy; 2024 - David Gutiérrez Pérez - 2DAW
    <picture>
        <source srcset="./assets/images/logo/logo_exportado.svg" type="image/svg+xml">
        <source srcset="../src/assets/images/logo/logo_exportado.webp" type="image/webp">
        <img src="../src/assets/images/logo/logo_exportado.png" alt="logo_empresa">
    </picture>
-->
