<footer class="footer">
    <!-- dividimos el footer en tres zonas verticales -->
    <!-- Sección que muestra enlaces a las redes del negocio -->
    <section class="footer__zonaRedes">
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_facebook.svg"
                alt="icono facebook"
            />
        </a>
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_instagram.png"
                alt="icono instagram"
            />
        </a>
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_tiktok.svg"
                alt="icono tiktok"
            />
        </a>
        <a class="zonaRedes__link_icono" href="#">
            <img
                src="../src/assets/images/iconos/icons_maps.svg"
                alt="icono maps"
            />
        </a>
    </section>
    <section class="footer__zonaCentral">
        <div class="zonaCentral__nav">
            <div class="zonaCentral__nav--navegacion">
                <div class="z">

                    <div><a href="#">INICIO</a></div>
                    <div><a href="#">CATÁLOGO</a></div>
                    
                </div>
                <div class="z">

                    <div><a href="#">SOBRE NOSOSTROS</a></div>
                    <div><a href="#">CONTACTO</a></div>

                </div>
            </div>
            <div class="zonaCentral__nav--alergenos">
                <a href="#">INFORMACIÓN ALERGENOS</a>
            </div>
        </div>

        <div class="zonaCentral__hours">

            <div class="zonaCentral__hours--logo">

            </div>
            <div class="zonaCentral__hours--horarios">

            </div>

        </div>

        <div class="zonaCentral__postal"></div>
    </section>
    <section class="footer__zonaInfo"></section>
</footer>

<!-- CÓDIGO DE LA IMAGEN EN SVG + 3 FORMATOS
    <picture>
        <source srcset="./assets/images/logo/logo_exportado.svg" type="image/svg+xml">
        <source srcset="../src/assets/images/logo/logo_exportado.webp" type="image/webp">
        <img src="../src/assets/images/logo/logo_exportado.png" alt="logo_empresa">
    </picture>
    &copy; 2024 - David Gutiérrez Pérez - 2DAW
    <picture>
        <source srcset="./assets/images/logo/logo_exportado.svg" type="image/svg+xml">
        <source srcset="../src/assets/images/logo/logo_exportado.webp" type="image/webp">
        <img src="../src/assets/images/logo/logo_exportado.png" alt="logo_empresa">
    </picture>
-->
