<!-- grid 12 colums -->
<header class="header">
    <!-- columnas header 2 - 5 => grid 4 columnas -->
    <div class="header__zonaTitulo">

        <!-- columna 1 -->
        <div class="header__zonaTitulo--logo">
            <a href="#">
                <picture>
                    <source srcset="..\src\assets\images\logo\logo_edit.webp" type="image/webp">
                    <source srcset="..\src\assets\images\logo\logo_edit.png" type="image/png">
                    <img id="logo" src="..\src\assets\images\logo\logo_edit.jpg" alt="Ana_de_Consuelo">
                </picture>
            </a>
        </div>
        

        <!-- columnas 2 - 4 -->
        <div class="header__zonaTitulo--titulo">
            <a class="tit_1" href="#">Dulces Caseros</a>
            <a class="tit_2"  href="#">Ana de Consuelo</a>
        </div>

    </div>
    <!-- columnas header 6 - 11 -->
    <div class="header__zonaNav">
        <!-- display flex -->
        <a class="header__zonaNav--item" href="#">INICIO</a>
        <a class="header__zonaNav--item" href="#">SOBRE NOSOTROS</a>
        <a class="header__zonaNav--item" href="#">CATÁLOGO</a>
        <a class="header__zonaNav--item" href="#">CONTACTO</a>
        <a class="header__zonaNav--item" href="#">SESIÓN CLIENTES</a>

        <div class="header__zonaNav--hamburger">

            <button class="hamburger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </button>
            <div class="menu-items">
                <a href="#">INICIO</a>
                <hr>
                <a href="#">SOBRE NOSOTROS</a>
                <hr>
                <a href="#">CATÁLOGO</a>
                <hr>
                <a href="#">CONTACTO</a>
                <hr>
                <a href="#">SESIÓN CLIENTES</a>
            </div>

        </div>

    </div>
</header>