<!-- grid 12 colums -->
<header class="header">
    <!-- columnas header 2 - 5 => grid 4 columnas -->
    <div class="header__zonaTitulo">
        
        <!-- columna 1 -->
        <div class="header__zonaTitulo--logo">
            <a href="#"><img id="logo" src="..\src\assets\images\logo\logo.png" alt="Ana_de_Consuelo"></a>
        </div>
        <!-- columnas 2 - 4 -->
        <div class="header__zonaTitulo--titulo">
            <a class="tit_1" href="#">Dulces Caseros</a>
            <a class="tit_2"  href="#">Ana de Consuelo</a>
        </div>

    </div>
    <!-- columnas header 6 - 11 -->
    <div class="header__zonaNav">
        <!-- display flex -->
        <a class="header__zonaNav--item" href="#">INICIO</a>
        <a class="header__zonaNav--item" href="#">SOBRE NOSOTROS</a>
        <a class="header__zonaNav--item" href="#">CATÁLOGO</a>
        <a class="header__zonaNav--item" href="#">CONTACTO</a>
        <a class="header__zonaNav--item" href="#">SESIÓN CLIENTES</a>

    </div>
</header>