<main class="main__cuerpo_principal">
    <section class="cuerpo_principal__section_gris">
      <section class="section_gris__section_naranja">
        <div class="active">
          <img src="./assets/images/carrusel/cake.jpg" alt="tarta">
        </div>
        <div>
          <img src="./assets/images/carrusel/magd-choco.jpg" alt="magdalena choco">
        </div>
        <div>
          <img src="./assets/images/carrusel/magd-color.jpg" alt="magdalena color">
        </div>
        <div>
          <img src="./assets/images/carrusel/muffins.jpg" alt="muffins">
        </div>
        <!-- Add more images as needed -->
      </section>
    </section>
  </main>
  

<script src="./assets/scripts/carrusel.js"></script>