<main class="main__home">

  <div class="main__imagesContainer">
    <div class="imageContainer__image">
      <img 
        src="./assets/images/carrusel/man.jpg" 
        srcset="
          ./assets/images/carrusel/man.webp 1x, 
          ./assets/images/carrusel/man.png 1x, 
          ./assets/images/carrusel/man.jpg 1x
        " 
        alt="Imagen de un pastelero">
      <div class="texto">
        <h2>Imagen 1</h2>
      </div>
    </div>
    <div class="imageContainer__image">
      <img 
        src="./assets/images/carrusel/magd.jpg" 
        srcset="
          ./assets/images/carrusel/magd.webp 1x, 
          ./assets/images/carrusel/magd.png 1x, 
          ./assets/images/carrusel/magd.jpg 1x
        " 
        alt="Imagen de deliciosas magdalenas">
      <div class="texto">
        <h2>Imagen 2</h2>
      </div>
    </div>
    <div class="imageContainer__image">
      <img 
        src="./assets/images/carrusel/tarta_2.jpg" 
        srcset="
          ./assets/images/carrusel/tarta_2.webp 1x, 
          ./assets/images/carrusel/tarta_2.png 1x, 
          ./assets/images/carrusel/tarta_2.jpg 1x
        " 
        alt="Imagen de una tarta de chocolate">
      <div class="texto">
        <h2>Imagen 3</h2>
      </div>
    </div>
    <div class="imageContainer__image">
      <img 
        src="./assets/images/carrusel/cookies.jpg" 
        srcset="
          ./assets/images/carrusel/cookies.webp 1x, 
          ./assets/images/carrusel/cookies.png 1x, 
          ./assets/images/carrusel/cookies.jpg 1x
        " 
        alt="Imagen de galletas recién hechas">
      <div class="texto">
        <h2>Imagen 4</h2>
      </div>
    </div>
  </div>

</main>
