<main class="body__main_home">

    <section class="main_home__container">

        <div class="container__div_imagen">

            <a href="">
                <picture>
                    <source type="image/webp" srcset="./assets/images/carrusel/pocion.webp" />
                    <source type="image/jpg" srcset="./assets/images/carrusel/pocion.jpg" />
                    <img src="./assets/images/carrusel/pocion.png" alt="pocion_azul">
                </picture>
            </a>

        </div>

        <div class="container__div_text">

            CONTAINER DIV TEX

        </div>

    </section>



</main>