@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playball&display=swap');

// Colores Logo
$color_logo_fondo: #fdf8d2;
$color_logo_fondo_light: color.scale($color_logo_fondo, $lightness: 70%);
$color_logo_fuentes: #e89021;
$color_logo_lineas: #8f7d4b;

// Colores Compelemetarios
$color_fondo: #FAFAFA;

// Colores fuentes
$color_fuente_primaria: #010101;
$color_fuente_secundaria: #f0f0f0;

// Fuentes
$font_playball: 'Playball';
$font_montserrat: 'Montserrat';
