@use "sass:color";

// Colores Logo
$color_logo_fondo: #fdf8d2;
$color_logo_fondo_ligth: color.scale($color_logo_fondo, $lightness: 70%);
$color_logo_fuentes: #e89021;
$color_logo_lineas: #8f7d4b;

// Colores Compelemetarios
$color_fondo: #FAFAFA;

// Colores fuentes
$color_funete_primaria: #010101;
$color_funete_secundaria: #f0f0f0;


